<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <title>VoucherConnect</title>
  
  <!-- 确保样式一致 -->
  <link href="./css/main.css" rel="stylesheet">
  <link href="./css/login.css" rel="stylesheet">
  <link rel="stylesheet" href="./css/element.css">

  <style type="text/css">
      body {
          font-size: 14px; /* 设置为一致的字体大小 */
          font-family: Arial, sans-serif; /* 确保字体一致 */
      }
      .el-radio__input.is-checked .el-radio__inner {
          border-color: #F63;
          background: #F63;
      }
      .el-input__inner:focus {
          border: 1px solid #F63;
      }
  </style>
</head>
<body>
<div id="app">
  <div class="login-container">
    <div class="header">
      <div class="header-back-btn" @click="goBack"><i class="el-icon-arrow-left"></i></div>
      <div class="header-title">Password Login&nbsp;&nbsp;&nbsp;</div>
    </div>
    <div class="content">
      <div class="login-form">
        <el-input placeholder="Please enter your mobile number" v-model="form.phone"></el-input>
        <div style="height: 5px"></div>
        <el-input placeholder="Please enter your password" v-model="form.password"></el-input>
        <div style="text-align: center; color: #8c939d;margin: 5px 0"><a href="javascript:void(0)">Forgot Password?</a></div>
        <el-button @click="login" style="width: 100%; background-color:#f63; color: #fff;">Log In</el-button>
        <div style="text-align: right; color:#333333; margin: 5px 0"><a href="/login.html">Verification Code Login</a></div>
      </div>
    </div>
  </div>
</div>
<script src="./js/vue.js"></script>
<script src="./js/axios.min.js"></script>
<!-- 引入组件库 -->
<script src="./js/element.js"></script>
<script src="./js/common.js"></script>

<script>
  const app = new Vue({
    el: "#app",
    data: {
      radio: "",
      form: {}
    },
    methods: {
      login(){
        axios.post("/user/login", this.form)
          .then(({data}) => {
            if(data){
              sessionStorage.setItem("token", data);
            }
            location.href = "/info.html";
          })
          .catch(err => this.$message.error(err))
      },
      goBack(){
        history.back();
      }
    }
  })
</script>
</body>
</html>
